.title {
  color: #00b5ad;
}

.registration-wrapper {
  padding: 30px 50px !important;
}

.btn-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    padding: 15px 20px !important;
    width: 100px !important;
  }
}
