@font-face {
  font-family: 'Custom';
  src: url('./Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Custom-Bold';
  src: url('./Roboto-Medium.ttf') format('truetype');
}

.modal-custom {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 2px solid rgb(82, 82, 82);
  width: 80vw;

  .list {
    margin: 10px 10px 30px 10px !important;

    .item {
      height: 40px;
      background-color: rgb(206, 206, 206);
      align-items: center !important;
      justify-content: center !important;
      margin: 10px 0px;
      padding: 5 !important;
      border-radius: 10px;

      .status {
        background-color: red;
      }

      .button {
        margin-left: 20px;
        color: white;

        &-blocked {
          background-color: rgba(green, 0.3);
          color: white;
        }

        &-unblocked {
          background-color: rgba(red, 0.3);
          color: white;
        }
      }
    }
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.extract-wrapper > * {
  font-family: 'Custom';
}

.extract-title {
  font-family: 'Custom';
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-text {
    width: 300px;
    text-align: center;
    margin-bottom: 5px;
  }

  &-oranization {
    width: 250px;
    text-align: center;
  }
}

.extract-footer-info {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 30px;
}

.extract-table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;

  tr {
    .extract-th {
      font-family: 'Custom';
      padding: 5px;
      background: #efefef;
      border: 1px solid #dddddd;
    }

    td {
      border: 1px solid #dddddd;
      padding: 5px;
    }
  }
}
