.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;

  .input-item {
    flex: 1;
    margin: 10px !important;
    width: 200px;
    text-align: left;
  }
}

.input-item-date {
  width: 200px;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0px 5px !important;

  button {
    margin-left: 20px !important;
  }
}

.ui .modal .transition .visible .active {
  background-color: red !important;
}

.update-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
