.modal-custom-blanks-issue {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border-radius: 10px;
    width: 40vw;

    .list-blanks {
      table {
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #dddddd;
        border-collapse: collapse;
        tr {
          th {
            font-weight: bold;
            padding: 5px;
            background: #efefef;
            border: 1px solid #dddddd;
            button {
              width: 200px !important;
              margin: 0 !important;
            }
          }

          td {
            border: 1px solid #dddddd;
            padding: 5px;
            button {
              width: 200px !important;
              margin: 0 !important;
            }
            .button {
              margin-left: 20px;
              color: white;

              &-blocked {
                background-color: rgba(green, 0.3);
                color: white;
              }

              &-unblocked {
                background-color: rgba(red, 0.3);
                color: white;
              }

              &-edit {
                background-color: rgba(rgb(0, 132, 255), 0.3);
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .update-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
